.form{
    color:$gray-color-2;
    padding: 15px;
    background-color: white;
    position: relative;
    transition: left 0.2s ease-in;
    width:100%;
    //left: $left_offset;
    //width: $block_width;


    &__fieldset{
        border: none;
    }

    &__field{
        position:relative;
        &-label{
            padding-left: 12px;
        }
        &-input{
            margin-top: 15px;
            margin-bottom: 3px;
            border-radius: 7px;
            width: 100%;
            padding:10px 10px;
            font-size: $font-size-0;
            border: 1px solid $gray-color-0;
            display: block;
            color:$gray-color-2;
        }
        &-button{
            background-color: white;
            color:$gray-color-2;
            cursor: pointer;
            border: none;
            left:96%;
            top:24%;
            @include respond-to-sm(){
                left:92%;
            }
            //top:50%;
            font-size: $font-size-1;
            position:absolute;

            &:focus{
                outline: none;
            }
        }
    }
    &__button{
        margin-top:20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-input{
            cursor: pointer;
            color: white;
            padding: 10px 17px;
            font-size: $font-size-0;
            border-radius: 5px;
            border: none;
            background-color: $purple-color; 
            font-weight: bold;
        }
        &-login{
            font-size: $font-size-0;
            a{
                text-decoration: none;
            }
        }
    }
}