.header{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-2;
    width: $block_width;
    left: $left_offset;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: $cream-color;

    @include respond-to-sm(){
        left:$left_offset_responsive;
        width:$block_width_responsive;

    }

    &_sticky{
        //width: 1000px;
        z-index: 1;
        position:fixed;
    }
    &__search{
        &-input{
            font-size: $font-size-1;
            height: 3rem;
            color: $black-color-0;
            background-color: $cream-color;
            border: none;
            &:focus{
                outline: none;
            }
        }
    }
    &__option-set{
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    
    &__icon{
        margin: 0 5px;
        font-size: 1.5rem;
        border: none;
        &:focus{
            outline: none;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__icon-profile{
        margin: 0 5px;
        &:hover{
            cursor: pointer;
        }
    }
}