.switch {
    left: 75%;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked{
            + .switch__slider {
                background-color: $purple-color;
                &:before {
                    transform: translateX(26px);
                }     
            }
        }
        
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.switch__round {
            border-radius: 34px;
            &:before{
                border-radius: 50%;
            }
        }    
    }
}




