@import 'variables';
@import 'menu';
@import 'header';
@import 'switch';
@import 'form';
@import 'custom-table';
@import 'activity-timeline';
@import 'accordion';
@import 'schedule';
@import 'statistics';
@import 'spacing';
  

html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.debug{
    border: 2px solid red
}

body{
    background-color: $cream-color;
}

.block{
    &_box-shadow{
        box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    &__title{
        font-size: $font-size-1;
        font-weight: 500;
        text-align: left;
        padding: 20px;
    }
}

.container{

    &__level-0{
        padding-top: 20px;
        width: $block_width;
        left: $left_offset;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: left 0.2s ease-in;

        @include respond-to-sm(){
            flex-direction: column;
            left:$left_offset_responsive;
            width:$block_width_responsive;
        }
    }
    &__level-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include respond-to-sm(){
            flex-direction: column;

        }
    }

}

.backdrop{
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    z-index: 50;
    &_triggered{
        pointer-events: all;
        opacity: 1;
    }
}

.arrow-up{
    position:fixed;
    height:40px;
    width: 40px;
    font-size: $font-size-2;
    top:87%;
    left:94%;
    @include respond-to-sm(){
        left:87%;
    }
    background-color: $purple-color;
    border-radius: 50%;
    text-align: center;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}